html,
body {
  scroll-behavior: smooth;
}

/* media queries */
/*
 Usage
 .menu li {
   @include relative;
 }

.sub-menu {
  @include absolute(top 100% left 0);
}

.sticky-bar {
  @include fixed(top 0 left 0);
}
*/
.input-number.input-number-editable::-webkit-outer-spin-button,
.input-number.input-number-editable::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  margin: 0;
}

.input-number.input-number-editable {
  -moz-appearance: textfield;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding-top: 49px;
}

p,
li {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
@media (min-width: 768px) {
  p,
li {
    font-size: 38px;
    font-weight: 300;
  }
}

*::-moz-selection {
  color: #fff;
  background: #000;
}

*::selection {
  color: #fff;
  background: #000;
}

#frmtHead {
  background: #000;
  padding: 8px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

#lang-wrapper {
  position: relative;
  height: 100%;
}
#lang-wrapper ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  -webkit-transition: height 350ms ease-in-out;
  transition: height 350ms ease-in-out;
}
#lang-wrapper ul:hover, #lang-wrapper ul:focus {
  height: 80px;
}
#lang-wrapper li {
  list-style-type: none;
  padding: 8px 4px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
}
@media screen and (min-width: 1200px) {
  #lang-wrapper li {
    font-size: 16px;
  }
}
#lang-wrapper a {
  font-size: 12px;
  font-weight: 600;
  color: #fff;
}
@media screen and (min-width: 1200px) {
  #lang-wrapper a {
    font-size: 16px;
  }
}

#menu-btn {
  padding-top: 8px;
  display: inline-block;
  border: none;
  background: transparent;
  cursor: pointer;
}
#menu-btn:focus, #menu-btn:active {
  outline: none;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  z-index: 150;
  background-color: #ff5a68;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}
#menu.active {
  width: 100%;
}
#menu ul {
  margin: 0;
}
#menu li {
  list-style-type: none;
}
#menu a {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}
@media screen and (min-width: 768px) {
  #menu a {
    font-size: 48px;
  }
}
#menu .close-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
}
#menu .close-menu:focus, #menu .close-menu:active {
  outline: none;
}

#section1 {
  padding-top: calc((373 / 375) * 100%);
  position: relative;
}
@media (min-width: 992px) {
  #section1 {
    padding-top: calc((909 / 1920) * 100%);
    position: relative;
  }
}

#video .vid-container {
  padding-top: calc((315 / 560) * 100%);
  position: relative;
}
#video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#section1 img,
#section3 img,
#section4 img,
#section5 img,
#section6 img {
  width: 100%;
}

#section4 {
  padding-top: calc((411 / 375) * 100%);
  position: relative;
}
@media (min-width: 992px) {
  #section4 {
    padding-top: calc((700 / 1920) * 100%);
    position: relative;
  }
}

#frmFooter {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  padding: 20px 0;
}
@media (min-width: 992px) {
  #frmFooter {
    padding: 100px 0;
  }
}
#frmFooter img {
  margin-bottom: 15px;
  width: 100%;
  max-width: 30px;
  height: auto;
}
@media (min-width: 992px) {
  #frmFooter img {
    max-width: 70px;
  }
  #frmFooter img.instagram {
    margin: 0 47px;
  }
}
#frmFooter ul {
  margin: 0 0 15px 0;
  padding: 0;
}
#frmFooter li {
  list-style-type: none;
  display: inline-block;
}
#frmFooter a {
  color: #fff;
  padding: 0 4px;
}
#frmFooter p {
  margin: 0;
}
/*# sourceMappingURL=site.css.map */