html,
body {
  scroll-behavior: smooth;
}

/* media queries */
/*
 Usage
 .menu li {
   @include relative;
 }

.sub-menu {
  @include absolute(top 100% left 0);
}

.sticky-bar {
  @include fixed(top 0 left 0);
}
*/
.input-number.input-number-editable::-webkit-outer-spin-button,
.input-number.input-number-editable::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  margin: 0;
}

.input-number.input-number-editable {
  -moz-appearance: textfield;
}
/*# sourceMappingURL=sass_classes.css.map */